body {
  display: flex;
  background-color: black;
  font-family: "Rubik", sans-serif;
}
.info {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
}
.info-img {
  width: 75px;
  height: 75px;
}
.info-h {
  position: absolute;
  width: 104px;
  height: 24px;
  left: 70px;
  top: 25px;
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #0b132a;
}
.info-a {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28px;
  left: 650px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s;
}
.info-a2 {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28px;
  left: 750px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s;
}
.info-a3 {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28px;
  left: 875px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s;
}
.info-a4 {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28px;
  left: 1020px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s;
}
.info-reg1 {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28px;
  left: 1420px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s;
}
.info-but {
  position: absolute;
  width: 150px;
  height: 45px;
  top: 18px;
  left: 1560px;
  border: 1px solid #f53855;
  color: #f53855;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}
.info-but:hover {
  background-color: #f53855;
  color: #ffffff;
}
.info-reg1:hover {
  color: #f53855;
}
.info-a:hover {
  border-bottom: 2px solid #f53855;
  color: #f53855;
}
.info-a2:hover {
  border-bottom: 2px solid #f53855;
  color: #f53855;
}
.info-a3:hover {
  border-bottom: 2px solid #f53855;
  color: #f53855;
}
.info-a4:hover {
  border-bottom: 2px solid #f53855;
  color: #f53855;
}
.fon {
  position: absolute;
  width: 1500px;
  height: 1000px;
  left: 115px;
  top: 125px;
  background-color: #ffffff;
  border: 5px solid purple;
}
.fon-h {
  position: absolute;
  left: 650px;
}
.fon-p {
  position: absolute;
  top: 35px;
  font-size: 32px;
  left: 35px;
}
.about {
  position: absolute;
  width: 1500px;
  height: 740px;
  top: 260px;
}
.theend {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 1200px;
  background-color: #ffffff;
  display: flex;
}
.theend-log {
  display: flex;
}
.but-text {
  text-decoration: none;
  color: #f53855;
}
.but-text:hover {
  color: #ffffff;
}
.web {
  position: absolute;
  display: flex;
  left: 1520px;
  top: 5px;
}
.web-a {
  text-decoration: none;
}
.the-info{
  margin-top: 7%;
  position: absolute;
  left: 50px;
}
.the-email{
  position: absolute;
  top: 50px;
  left: 70px;
}
